@import url(./share.css);

/* Contenido Princiap grid inicial */



.principal-container {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "section main main "
        "footer footer footer"
    ;

    padding: 0px 30px;
}

/* HEADER */

.header-principal-container {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
    padding: 10px 0;
}


/* Menu and icon */


.header-container-icon-categories {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 30px;
}

.header-container-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;

}

.header-container-list {
    display: flex;
    gap: 100px;
    width: 100%;
}

@media (width < 700px) {

    .header-container-list {
        display: none;
    }

}

@media (width < 1200px) {

    .header-container-icon-categories {
        gap: 30px;
    }

    .header-container-icon {
        width: auto;
        gap: 10px;

    }

    .header-container-list {
        width: auto;
        gap: 25px;
    }

}


/* INPUT AND ICON CAR */

.header-input-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.header-input {
    min-width: 25%;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    font-family: "Fira Sans", sans-serif;
    border: 1px solid var(--color-text);
}

.header-input::placeholder {
    color: var(--color-placeholder);
    opacity: 1;

}


/* SECTION */

.section-principal-container {
    grid-area: section;
    display: flex;
    align-items: center;
    justify-content: end;
}

.section-subcontain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    height: auto;
    border-top: 1px solid rgba(128, 128, 128, 0.562);
    border-bottom: 1px solid rgba(128, 128, 128, 0.562);
    padding: 20px 0;
}

.section-p {
    font-weight: bold;
}

.section-categories {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
    gap: 10px;
    cursor: pointer;
}


.section-container-categories {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    padding: 5px;
}

.section-container-categories:hover {
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 3px;
}


/* MAIN */

.main-principal-container {
    grid-area: main;
    border-left: 1px solid rgba(128, 128, 128, 0.562);
    width: 100%;

}

/* FOOTER */

.footer-principal-container {
    grid-area: footer;
}