:root {
    --color-fondo: #f3f3f3;
    --color-text: #0d1321;
    --color-sub-text: #3e5c76;
    --color-title: #748cab;
    --color-card: #1d2d44;
    --font-text: "Fira Sans", sans-serif;
    --fonta-titles: "Bebas Neue", sans-serif;
    font-size: 10px;
}

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    font-size: 1.6rem;
    color: var(--color-text);
    line-height: 1.5;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parrafos {
    font-size: 1.6rem;
    color: var(--color-text);
    line-height: 1.5;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


h2 {
    font-size: 3.2rem;
    font-size: var(--color-title);
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 3.6rem;
    font-size: var(--color-title);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--color-fondo);
    display: grid;
}

img {
    /*    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%; */
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
}

li {
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    cursor: pointer;
}

@media (width < 1200px) {
    li {
        font-size: 1.8rem;

    }

}

.icon {
    font-size: 2rem;
    font-weight: bold;
}

@media (width < 900px) {
    .icon {
        font-size: 1.8rem;

    }

}