/* En html el root apunta al elemento que contiene todo en este caso el HTML en svg o xml apunta al svg que es su elemento raiz */
:root {
    --color-fondo: rgb(44, 44, 43);
    --color-secundario: rgb(252, 109, 35);
    --color-titulos: #fc6d23;
    --color-parrafos: #fefffb;
    --font-family: "Poppins", sans-serif;
    font-size: 10px;
}

*,
::after,
::before {

    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


body {
    background: radial-gradient(100% 100% at 48% 51%, #161414 39%, transparent), radial-gradient(100% 100% at 17% 83%, #fc6d23 -100%, transparent), #1b253b;
    width: 97%;
    margin: 0 auto;
    padding: 15px 20px 0px;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-titulos);
}

a {
    cursor: pointer;
}

.text-giant {
    font-size: 7rem;
    color: var(--color-titulos);
    font-weight: 700;
    line-height: 1;
    /* Evita espacio extra por line-height */
    margin: 0;
    /* Elimina márgenes predeterminados */
}

.text-normal {
    font-size: 2rem;
    font-weight: 500;
    color: var(--color-parrafos);
    list-style: none;
    text-decoration: none;
}

@media (width <768px) {
    .text-giant {
        font-size: 5rem;
    }

    .text-normal {
        font-size: 1rem;
    }
}




p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-parrafos);
}

.text {
    color: var(--color-parrafos);
}

.principal-button {
    padding: 14px;
    background-color: var(--color-titulos);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.second-button {
    border-radius: 1px solid var(--color-titulos);
    padding: 14px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--color-parrafos);
    border: 1px solid var(--color-secundario);
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.input {
    padding: 7px;
    font-size: 1.6rem;
    max-width: 180px;
    border-radius: 3px;
}

@media (width <768px) {
    .input {
        font-size: 1.2rem;
        max-width: 120px;

    }

    .second-button {
        padding: 5px;
        font-size: 1.2;
    }
}