/* GRILLA */

.blog-container {
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer"
    ;
    grid-template-rows: 45px minmax(0, 1fr) 150px;
}

@media (width <768px) {
    .blog-container {
        max-height: auto;
        display: flex;
        flex-direction: column;


    }
}


/* HEADER */


.container-header {
    display: flex;
    justify-content: space-between;
    max-height: 20px;
    grid-area: header;
}



.logo {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--color-parrafos);
    position: relative;
}

.borde-logo {
    border-top: 3px double var(--color-secundario);
}

.container-links {
    display: flex;
    gap: 75px;
    padding: 0 20px;
}

li:hover {
    border-top: 2px solid var(--color-secundario);

}

@media (width <768px) {
    .container-links {
        display: none;

    }

    .container-header {
        justify-content: center;
    }

}

/* MAIN */
.container-main {
    grid-area: main;
    display: flex;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

@media (width <768px) {
    .container-main {
        flex-direction: column;
        height: auto;
        margin-bottom: 30px;
        width: 100%;

    }
}


.main-image {
    display: flex;
    height: 100%;
    width: 70%;
    max-height: 100%;
    border-left: 10px double var(--color-secundario);
    border-bottom: 10px double var(--color-secundario);
    max-width: 70%;
}


@media (width <768px) {
    .main-image {
        width: 100%;
        max-width: 100%;
        max-height: 50%;
    }
}


.capture-image {
    height: 100%;
    width: 100%;
    padding: 10px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    height: 60%;
    max-height: 100%;
    max-width: 50%;
}

@media (width <768px) {
    .main-text {
        max-width: 100%;
        min-height: 100%;
        justify-content: center;
        gap: 50px;
    }
}

.main-title {
    display: flex;
    flex-direction: column;
}

.main-buttons {
    display: flex;
    gap: 30px;
}

@media (width <768px) {
    .main-buttons {
        display: flex;
        justify-content: center;
    }
}


/* FOOTER */

.container-footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text {
    display: flex;
    gap: 5px;
}

.footer-form {
    display: flex;
    gap: 15px;
}


@media (width <768px) {
    .container-footer {
        flex-direction: column;
        padding: 20px;

    }
}