* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    list-style: none;
    font-family: sans-serif;
}



body {
    background-color: rgb(10, 10, 10);
    color: white;
    width: 100%;
    min-height: 100vh;
}

/* Header */

.menu-container {
    height: 50px;
    padding: 10px 20px;
    background: rgba(10, 10, 10, 0.04);
    border-radius: 10px;
    box-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(10, 10, 10, 0.8);
}

.menu-ul {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    gap: 60px;
    align-items: center;
}

.menu-ul li:hover {
    scale: 1.2;
}

.menu-ul a {
    font-size: 2.4rem;
    cursor: pointer;
    color: lightpink;
    font-weight: bold;
    text-decoration: none;


}

/* Secction Hero */

.container-seccion-hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-container {
    height: 90vh;
    grid-row-start: 1;
    grid-column-start: 1;

}


button {
    padding: 20px;
    font-size: 5rem;
    min-width: 200px;
    background-color: lightpink;
    border-radius: 10px;
    font-weight: 600;
    width: 70%;
    cursor: pointer;
}

button:hover {
    background-color: #1e1e1e;
    box-shadow: 0 0 30px whitesmoke;
    color: lightpink;
    transform: translateY(-2px);

}

.container-text {
    grid-row-start: 1;
    grid-column-start: 1;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 40px;

}

.container-text span {
    font-size: 16rem;
    color: rgb(255, 171, 184);
    font-weight: 500;
    flex-grow: 1;

}

.container-span-hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media (max-width: 768px) {
    .menu-ul {
        gap: 3rem;
    }

    .container-text {
        max-width: 100%;
    }

    .container-text span {
        font-size: 14rem;

    }

    .menu-container {
        display: none;
    }

    button {
        max-width: 60%;
    }
}