* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: #1e1e1e;
    min-height: 100dvh;
}

.p {
    font-size: 5rem;
    color: white;
    transition: color 1.5s ease;
    font-weight: bold;

    &:hover {
        color: lightpink;
    }

    /* 
    animation-name: changecolor;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both; */
}

/* @keyframes changecolor {
    from {
        color: white;

    }

    to {
        color: lightpink;
    }


} */

img {
    display: block;
    height: 400px;
    width: 400px;
    object-fit: contain;
    border-radius: 20px;
    transition: transform 1s ease-in-out;

    &:hover {
        opacity: 0.1;
        /* transform: scale(1.3); */
        transform: rotate(90deg);
    }

}


.div {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-radius: 10px;
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in;

    &:hover {
        transform: translateX(200px);
        transition-duration: 1s;
        box-shadow: 5px 5px 5px 0px rgba(255, 255, 255, 0.685);

    }
}