* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}


body {
    background-color: #1f1f1f;
    color: white;
    width: 100vw;
}

.menu-container {
    display: flex;
    border: 1px solid white;
    border-radius: 16px;
    padding: 10px;
    justify-content: space-between;
    width: 100vw;
}

.menu-list-container {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

li {
    font-size: 20px;
}

li:last-child {
    margin-left: 30px;

}